/*--General info-----*/

/*Jag har utgått ifrån ökningar med 6px som standard på marginaler /Ellen
/*Det högsta z-index just nu är 30


/*--Basics-----*/

* {
  font-family: 'Noto sans'
}

body {
  margin: 0;
  background-color: #3bb4f9;
}

/*--Main menu------*/

header {
  overflow: hidden;
  display: block;
}

#headbox {
  height: 10vh;
}

#mainmenu {
  height: 100vh;
  width: 60%;
  background-color: #333;
  z-index: 30;
  position: fixed;
  display: none;
}

#hamb {
  display: block;
  position: absolute;
  background-image: url("../img/hamb.png");

}

#close {
  position: absolute;
  background-image: url("../img/x.png");
  right: 0;
}

#hamb, #close {
  cursor: pointer;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin: 12px;
  box-sizing: border-box;
}

nav ul {
  padding: 24px;
  margin: 48px 0px;
}

nav ul li {
  list-style: none;
  padding: 12px 0px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}


/*--index page--------*/

/*-search-*/

#searchevents {
  width: 75%;
  margin: 36px auto 60px auto;
  text-align: center;
}

.searchbar {
  font-size: 24px;
  width: 90%;
  border: none;
  box-shadow: none;
}

.searchbutton {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 6px;
  font-size: 16px;
}

/*------*/

.box {
	margin: 12px;
	padding: 6px;
	background-color: #f7f58c;
	box-shadow: 2px 2px 2px #000;
}

.box:nth-child(even) {

}

.box:nth-child(odd) {

}

p.description {

}

/*--footer-------*/

footer {
  font-size: 12px;
  color: #fff;
  padding: 24px;
}
