/*--General info-----*/

/*Jag har utgått ifrån ökningar med 6px som standard på marginaler /Ellen
/*Det högsta z-index just nu är 30


/*--Basics-----*/

* {
  font-family: 'Noto sans'
}

body {
  margin: 0;
  background-color: #FAFAFA;
}

p {
  margin: 0;
}

/*--Main menu------*/

header {
  overflow: hidden;
  display: block;
  height: 50px;
  background-color: #3a3a3a;
}

#headbox {
  height: 5vh;
}

#main {
  transition: margin-left 0.5s;
}

#mainmenu {
    height: 120vh;
    width: 0;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: width 0.2s;
    box-shadow: 14px 0px 45px rgba(0, 0, 0, 0.5);
}

#mainmenu {-webkit-transition-timing-function: ease;}

#hamb {
    cursor: pointer;
    display: block;
    position: absolute;
    font-size: 250%;
    line-height: 32px;
    color: #27e5dc;
    left: 12px;
    top: 7px;
}

#close {
  cursor: pointer;
  position: absolute;
  right: 0;
  color: #27e5dc;
  font-size: 450%;
  margin: 6px 6px 12px 12px;
  padding: 0;
  line-height: 32px;
}

.logo {
  width: 180px;
  margin: 0 auto;
  overflow: hidden;
  display: block;
  margin-top: 15px;
}

nav ul {
  padding: 24px;
  margin: 48px 0px;
}

nav ul li {
  list-style: none;
  padding: 12px 0px;
  width: 100px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

#active.slide-effect:after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background: #27e5dc;
}
/* Have to display it like inlineblock. Otherwise it will look uggly :) */
.slide-effect {
  display: inline-block;
}
/* adds the line below, but since line width is set to zero it won't appear. */
.slide-effect:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.3s ease, background-color 0.3s ease; /* .5 seonds for changes to the width and background-color */
}
/* Sets width to 100% and therefore it becomes visible. */
.slide-effect:hover:after {
  width: 100%;
  background: #27e5dc;
}


/*--index page--------*/

/*-search-*/

#searchevents {
  margin: 15px auto 17px auto;
  text-align: center;
}

.searchbar {
  font-size: 24px;
  width: 90%;
  border: none;
  box-shadow: none;
  border-radius: 25px;
  background-color: #eee;
  padding: 6px 6px 6px 24px;
  box-sizing: border-box;
}

input:focus {
    outline:none;
    caret-color: #fff;
}

.searchbutton {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 6px;
  font-size: 23px;
  width: 69px;
  border-radius: 25px;
}

.searchbutton:hover {
  background-color: grey;
  cursor: pointer;
}

.searchbutton:active {
  background-color: #333;
}

/*--boxes----*/

.box {
	margin: 5px;
	padding: 18px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.box:nth-child(2n+1) {
  background-color: #9c5ec1;
}

.box:nth-child(2n+2) {
  background-color: #27e5dc;
}


.profiletitle {
  display: block;
  clear: left;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  text-align: center;
}

hr {
  border: 1px solid black;
  margin: 0 0 12px 0;
}

.profilepic {
  width: 40%;
  border-radius: 50%;
  float: left;
}

.specifics {
  float:left;
  width: 60%;
  box-sizing: border-box;
  padding-left: 18px;
}

.specifics img {
  width: 24px;
  float: left;
  padding-right: 6px;
}

.specifics p {
  font-weight: bold;
  padding: 6px 0;
  margin: 0;
  float: left;
  font-size: 14px;
}

p.description {
  font-size: 14px;
  float: left;
  margin: 12px 0px;
}

.seemore {
  display: block;
  width: 100%;
  float: left;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

/*--register-------*/

#registerbox {
  background-color: #9c5ec1;
}

#registerform {
  
}

/*--footer-------*/

footer {
  font-size: 12px;
  color: #fff;
  padding: 24px;
  overflow: hidden;
  background-color: #3a3a3a;
  margin-top: 70px;
  display: inline-block;
  width: 100vw;
}

/*=====================================640PX========================================*/
@media (min-width: 640px) {

  .box {
    float: left;
    width: calc(50% - 47px);
  }

  .logo {
    width: 250px;
    margin-top: 10px;
  }

}

/*=====================================960PX========================================*/
@media (min-width: 960px) {
  .box {
    float: left;
    width: calc(33.333% - 47px);
  }

  .box:nth-child(3n+1) {
    clear: left;
  }

}
