* {
  font-family: 'Noto sans'
}

body {
  margin: 0;
  background-color: skyblue;
}

p, h3, h2, h1 {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
